.article-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: space-evenly;
  margin-bottom: 3rem;
  width: 75%;
  flex-grow: 2;

  &-title {
    font-size: $giant-text;
    font-weight: $giant-text-weight;
    color: $primary-accent;
    border-bottom: 2px solid $primary-accent;
    max-width: $desktop-post-text-width;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &-read-time {
    font-size: $small-text;
    font-weight: $small-text-weight;
    color: $secondary-accent;
  }

  &-description {
    font-size: $medium-text;
    font-weight: $medium-text-weight;
    margin-bottom: 3rem;
    max-width: $desktop-post-text-width;
    text-align: center;
  }
  &-author-chip {
    display: flex;
    align-items: center;
    height: 4rem;
    width: auto;
    margin-bottom: 4rem;
    &-icon {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      margin-right: 1.25rem;
    }
    &-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-name {
        font-size: $small-text;
        font-weight: $giant-text-weight;
        margin: 0;
        padding: 0;
      }
      &-date {
        font-size: $small-text;
        font-weight: $small-text-weight;
        margin: 0;
        padding: 0;
      }
    }
  }

  &-main-img {
    width: 75%;
    border-radius: $card-radius;
    -webkit-border-radius: $card-radius;
    -moz-border-radius: $card-radius;
    -ms-border-radius: $card-radius;
    -o-border-radius: $card-radius;
    margin-bottom: 4rem;
  }
  &-main-text {
    font-size: $standard-text;
    font-weight: $standard-text-weight;
    max-width: $desktop-post-text-width;
    line-height: 1.7;
    text-align: left;
  }
}

@media only screen and (max-width: 900px) {
  .article-post {
    width: 95%;

    &-title {
      max-width: $mobile-post-text-width;
      margin-bottom: 2rem;
    }

    &-read-time {
      font-size: $standard-text;
      font-weight: $standard-text-weight;
    }

    &-description {
      font-size: $standard-text;
      font-weight: $standard-text-weight;
      margin-bottom: 2.5rem;
      max-width: $mobile-post-text-width;
    }

    &-main-img {
      width: 100%;
      margin-bottom: 1.7rem;
    }
    &-main-text {
      max-width: $mobile-post-text-width;
      line-height: 1.8;

      &::first-letter {
        font-size: calc(#{$large-text + 0.5rem});
        font-weight: $large-text-weight;
        line-height: 1.2;
        letter-spacing: 4px;
      }
    }
  }
}
