.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
  width: 100%;
  flex-grow: 2;

  &-grid {
    @extend .grid;
    gap: 1.25rem;
    grid-template-rows: auto;

    &-card {
      @extend .card;

      padding: 1.5rem;
      justify-content: space-between;

      &:hover,
      &:focus {
        box-shadow: 0 8px 50px 0 rgba($secondary-accent, 0.2);
      }

      &-text {
        justify-content: center;
      }
    }
  }
}
