.btn {
  border: 2px solid transparent;
  outline: 0;
  font-family: inherit;
  font-size: $small-text;
  font-weight: $medium-text-weight;
  padding: 0 1.5rem;
  height: 2.5rem;
  border-radius: $btn-radius;
  -webkit-border-radius: $btn-radius;
  -moz-border-radius: $btn-radius;
  -ms-border-radius: $btn-radius;
  -o-border-radius: $btn-radius;

  text-align: center;
  vertical-align: middle;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.btn-primary {
  @extend .btn;
  color: $text;
  background-color: $primary-accent;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
  &:hover,
  &:focus {
    color: $primary-accent;
    background-color: $text;
    border: 2px solid $primary-accent;
  }
}
.btn-secondary {
  @extend.btn;
  color: $text;
  background-color: $secondary-accent;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s, border 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border 0.2s;
  &:hover,
  &:focus {
    color: $secondary-accent;
    background-color: $text;
    border: 2px solid $secondary-accent;
  }
}

.btn-info {
  @extend .btn;
  color: $secondary-accent;
  background-color: $primary-bg;
  border: 2px solid $secondary-accent;
  padding: 0.25rem 1.25rem;
  height: 48px;
  font-size: $standard-text;

  transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;

  &:hover,
  &:focus {
    color: $text;
    background-color: $secondary-accent;
    border: 2px solid $text;
  }
}
.btn-cta {
  @extend .btn;
  color: $text;
  background-color: $secondary-accent;
  border: 2px solid $secondary-accent;
  padding: 0.25rem 1.25rem;
  font-size: $standard-text;
  height: 48px;
  transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;

  &:hover,
  &:focus {
    color: $secondary-accent;
    background-color: $text;
  }
}

.btn:disabled,
.btn-disabled {
  @extend .btn;
  color: grey;
  background-color: $primary-bg;
  border: 2px solid grey;

  &:hover,
  &:focus,
  .btn-disabled:hover,
  .btn-disabled:focus {
    cursor: default;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    color: grey;
    background-color: $primary-bg;
    border: 2px solid grey;
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
