.card {
  display: flex;
  flex-direction: column;

  box-shadow: 0 6px 40px 0 rgba($secondary-accent, 0.2);

  border-radius: $card-radius;
  -webkit-border-radius: $card-radius;
  -moz-border-radius: $card-radius;
  -ms-border-radius: $card-radius;
  -o-border-radius: $card-radius;
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  background: rgba(transparent, 0.7);
  overflow: hidden;

  &-img {
    height: $card-img-height;
    width: 100%;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
    object-fit: cover;
    object-position: center;
  }

  &-text {
    display: flex;
    flex-direction: column;
    text-align: left;

    &-title {
      font-size: $medium-text;
      font-weight: $medium-text-weight;
      color: $primary-accent;
      margin: 0 0 0.4rem 0;
    }

    &-subtitle {
      font-size: $standard-text;
      font-weight: $standard-text-weight;
      color: $secondary-accent;
      margin: 0 0 0.5rem 0;
    }

    &-date {
      font-size: $small-text;
      font-weight: $small-text-weight;
      color: $text;
    }

    &-description {
      font-size: $standard-text;
      font-weight: 300;
      color: $text;
    }
  }

  &:first-child {
    grid-column: 1 / span 2;
    // For some reason the below lines break the next build, bug reported on GitHub by someone else
    // grid-column-start: 1;
    // grid-column-end: span 2;
  }

  &:hover,
  &:focus {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);

    cursor: pointer;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    margin: 0;
    &-img {
      height: 320px;
    }

    &:first-child {
      grid-column: 1 / span 1;
    }
  }
}
