@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
// Find another font, this does not support many Spanish characters

$primary-bg: #111111;
$text: #fff;

$primary-accent: #00a6ff;
$secondary-accent: #f27ea9;

// Border-radius
$card-radius: 16px;
$btn-radius: 7px;

// Font-size
$base-size: 16px;
$small-text: 1rem;
$standard-text: 1.25rem;
$medium-text: 2.25rem;
$large-text: 3rem;
$giant-text: 4.5rem;

// Font-weight
$small-text-weight: 400;
$standard-text-weight: 400;
$medium-text-weight: 500;
$large-text-weight: 500;
$giant-text-weight: 700;

// Dimensions
$card-img-height: 250px;
$desktop-post-text-width: 65%;
$laptop-post-text-width: 85%;
$mobile-post-text-width: 95%;
$card-radius: 16px;
$card-height: 500px;
$card-width: 350px;
$grid-item-height: 300px;
$grid-item-width: 300px;

// $custom-grid-gap: calc(#{$base-size * 1.5});
// 24px is 1.5rem of $grid-item-width
// $section-width: calc(#{$grid-item-width * 3 + 24px});
$section-width: 1100px;

// Animations
@keyframes hoverReveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
