@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
// Find another font, this does not support many Spanish characters

$primary-bg: #111111;
$text: #fff;

$primary-accent: #0070f3;
