.form-wrapper {
  max-width: 95%;
  margin-bottom: 3rem;
  border-radius: $card-radius;
  -webkit-border-radius: $card-radius;
  -moz-border-radius: $card-radius;
  -ms-border-radius: $card-radius;
  -o-border-radius: $card-radius;
  border: 2px solid $text;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  .form-title {
    font-size: $large-text;
    font-weight: $large-text-weight;
    color: $primary-accent;
    text-transform: uppercase;
    margin: 0 0 1.5rem 0;
  }

  .form-text {
    font-size: $medium-text;
    font-weight: $standard-text-weight;
    color: $text;
    margin: 0 0 1.5rem 0;
  }

  .form-email {
    font-size: $standard-text;
    border-bottom: 2px solid transparent;
    margin: 0 auto 2.5rem 0;

    i {
      font-size: calc(#{$standard-text + 0.5rem});
      vertical-align: text-bottom;
      margin-right: 0.4rem;
    }

    &:focus,
    &:hover {
      color: $primary-accent;
      border-bottom: 2px solid $primary-accent;
      cursor: pointer;
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.75rem;
    row-gap: 1.5rem;

    fieldset {
      border: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      label {
        font-size: $standard-text;
        margin-bottom: 0.75rem;
      }

      input {
        outline: 0;
        border: 0;
        border-radius: $btn-radius;
        -webkit-border-radius: $btn-radius;
        -moz-border-radius: $btn-radius;
        -ms-border-radius: $btn-radius;
        -o-border-radius: $btn-radius;
        padding: 0.4rem 0.25rem 0.4rem 0.75rem;
        font-family: inherit;
        font-size: $standard-text;
        font-weight: $standard-text-weight;
        width: 100%;

        &::-webkit-input-placeholder {
          color: rgba($primary-bg, 0.6);
        }
      }
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      @extend .btn-secondary;
      cursor: pointer;
      margin-bottom: 1rem;
      width: 75%;

      span {
        cursor: pointer;
        font-size: $small-text;
        &:focus,
        &:hover {
          cursor: pointer;
        }

        i {
          font-size: calc(#{$small-text + 0.5rem});
          vertical-align: text-bottom;
          &:focus,
          &:hover {
            cursor: pointer;
          }
        }
      }
      input[type='file'] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;

        &:focus,
        &:hover {
          cursor: pointer;
        }
      }
    }

    button[type='submit'] {
      grid-column: 1 / span 2;
      margin: 0 10rem;
      font-size: $standard-text;
      // width: 50%;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .form-wrapper {
    padding: 2rem 1rem;
    .form-text {
      font-size: calc(#{$standard-text + 0.5rem});
      margin: 0 0 1.25rem 0;
    }
    .form-email {
      margin-bottom: 2.25rem;
      i {
        display: none;
      }
    }
    form {
      // grid-template-columns: 1fr;
      // gap: 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;

      .upload-btn-wrapper {
        width: 100%;
      }

      button[type='submit'] {
        margin: 0;
        width: 100%;
      }
    }
  }
}
