.header {
  width: 100%;
  // Maybe change to black
  background-color: transparent;
  height: 150px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &-img {
    height: 120px;
    width: 120px;
    margin-bottom: 1rem;
  }

  &-text {
    text-transform: uppercase;
  }
}
