$grid-item-height: 250px;
$grid-item-width: 250px;

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  &-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto auto auto;
    // Width equal to 3x 250px + gap of 1.5rem x2
    width: 798px;
    margin-bottom: 2rem;

    &-item {
      max-height: $grid-item-height;
      max-width: $grid-item-width;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      position: relative;

      transition: filter 0.3s ease;
      -webkit-transition: filter 0.3s ease;
      -moz-transition: filter 0.3s ease;
      -ms-transition: filter 0.3s ease;
      -o-transition: filter 0.3s ease;

      &:hover,
      &:focus {
        filter: brightness(60%);
        -webkit-filter: brightness(60%);
      }
      // &:hover + &-text,
      // &:focus + &-text {
      //   filter: brightness(100%);
      //   -webkit-filter: brightness(100%);
      // }

      &-text {
        height: calc(#{$grid-item-height} - 10%);
        width: calc(#{$grid-item-width} - 10%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: pre-wrap;
        overflow: hidden;
      }

      img {
        height: $grid-item-height;
        width: $grid-item-width;
      }
    }
  }
}
