$card-img-height: 300px;

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
  flex-grow: 2;

  &-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: auto;
    width: 100%;
    margin: 2rem 0;

    &-card {
      // height: $card-height;
      // max-height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 40px 2px rgba($primary-accent, 0.15);
      border-radius: $card-radius;
      -webkit-border-radius: $card-radius;
      -moz-border-radius: $card-radius;
      -ms-border-radius: $card-radius;
      -o-border-radius: $card-radius;
      transition: transform 0.2s ease;
      -webkit-transition: transform 0.2s ease;
      -moz-transition: transform 0.2s ease;
      -ms-transition: transform 0.2s ease;
      -o-transition: transform 0.2s ease;
      background: rgba(transparent, 0.7);
      overflow: hidden;

      &:first-child {
        grid-column: 1 / span 2;
        // For some reason the below lines break the next build
        // grid-column-start: 1;
        // grid-column-end: span 2;
      }

      &:hover,
      &:focus {
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        box-shadow: 0 0 50px 3px rgba($primary-accent, 0.2);
        cursor: pointer;
      }

      &-img {
        height: $card-img-height;
        width: 100%;
        border-top-left-radius: $card-radius;
        border-top-right-radius: $card-radius;
        object-fit: cover;
        object-position: center;
      }

      &-text {
        display: flex;
        flex-direction: column;
        text-align: left;

        border-bottom-left-radius: $card-radius;
        border-bottom-right-radius: $card-radius;
        padding: 1rem 1.5rem;

        &-subtitle {
          font-size: $standard-text;
          font-weight: $standard-text-weight;
          color: $secondary-accent;
          margin: 0 0 0.5rem 0;
        }

        &-title {
          font-size: $medium-text;
          font-weight: $medium-text-weight;
          color: $primary-accent;
          margin: 0 0 0.4rem 0;
        }

        &-date {
          font-size: $small-text;
          font-weight: $small-text-weight;
          color: $text;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .review {
    &-grid {
      grid-template-columns: 1fr;
      gap: 1rem;
      margin: 0;

      &-card {
        margin: 0;
        &-img {
          height: 320px;
        }

        &:first-child {
          grid-column: 1 / span 1;
        }
      }
    }
  }
}
