.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 80%;
  flex-grow: 2;

  &-title {
    font-size: $giant-text;
    font-weight: $giant-text-weight;
    color: $primary-accent;
    border-bottom: 2px solid $primary-accent;
    max-width: $desktop-post-text-width;
    text-align: center;
    margin-bottom: 2.25rem;
  }

  &-artist {
    font-size: $medium-text;
    font-weight: $medium-text-weight;
    color: $secondary-accent;
    margin: 0.5rem;
    text-align: center;
  }

  &-read-time {
    font-size: $small-text;
    font-weight: $small-text-weight;
    color: $secondary-accent;
    margin: 0.5rem 0;
  }

  &-description {
    font-size: calc(#{$standard-text + 0.5rem});
    line-height: 1.25;
    font-weight: 300;
    margin-bottom: 2rem;
    max-width: $desktop-post-text-width;
    text-align: center;
  }

  &-category {
    color: $secondary-accent;
    font-size: $standard-text;
    font-weight: $standard-text-weight;
    margin: 0;

    i {
      margin-left: 0.25rem;
      vertical-align: middle;
      font-size: $medium-text;
    }
  }

  &-author-chip {
    display: flex;
    align-items: center;
    height: 4rem;
    width: auto;
    margin: 2rem 0 4rem 0;
    &-icon {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      margin-right: 1.25rem;
    }
    &-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-name {
        font-size: $small-text;
        font-weight: $giant-text-weight;
        margin: 0;
        padding: 0;
      }
      &-date {
        font-size: $small-text;
        font-weight: $small-text-weight;
        margin: 0;
        padding: 0;
      }
    }
  }

  &-main-img {
    width: 75%;
    height: 550px;
    border-radius: $card-radius;
    -webkit-border-radius: $card-radius;
    -moz-border-radius: $card-radius;
    -ms-border-radius: $card-radius;
    -o-border-radius: $card-radius;
    margin-bottom: 4rem;
    object-fit: cover;
    object-position: center;
  }
  &-main-text {
    font-size: $standard-text;
    font-weight: $standard-text-weight;
    max-width: $desktop-post-text-width;
    line-height: 1.7;
    text-align: left;

    &::first-letter {
      font-size: calc(#{$large-text + 0.5rem});
      font-weight: $large-text-weight;
      line-height: 1.2;
      letter-spacing: 4px;
    }

    img {
      width: 100%;
      max-height: 450px;
      border-radius: $card-radius;
      -webkit-border-radius: $card-radius;
      -moz-border-radius: $card-radius;
      -ms-border-radius: $card-radius;
      -o-border-radius: $card-radius;
      object-fit: cover;
      object-position: center;
    }

    a {
      color: $primary-accent;
      border-bottom: 1px solid $primary-accent;
      &:hover,
      &:focus {
        color: $secondary-accent;
        border-bottom: 1px solid $secondary-accent;
      }
    }
  }

  &-bottom-details {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 1450px) {
  .post {
    width: 95%;
    &-title {
      max-width: $laptop-post-text-width;
    }

    &-read-time {
      font-size: $standard-text;
      font-weight: $standard-text-weight;
    }

    &-description {
      font-size: $standard-text;
      font-weight: $standard-text-weight;
      margin-bottom: 1.5rem;
      max-width: $laptop-post-text-width;
    }

    &-main-img {
      width: 100%;
      margin-bottom: 1.7rem;
    }
    &-main-text {
      max-width: $laptop-post-text-width;
      line-height: 1.8;
    }
  }
}

@media only screen and (max-width: 900px) {
  .post {
    &-title {
      max-width: $mobile-post-text-width;
      margin-bottom: 2rem;
      font-size: calc(#{$giant-text - 0.5rem});
      margin-top: 0.25rem;
    }

    &-read-time {
      font-size: $standard-text;
      font-weight: $standard-text-weight;
    }

    &-description {
      font-size: $standard-text;
      font-weight: $standard-text-weight;
      margin-bottom: 1.5rem;
      max-width: $mobile-post-text-width;
    }

    &-main-img {
      width: 100%;
      height: 250px;
      margin-bottom: 1.5rem;
    }
    &-main-text {
      max-width: $mobile-post-text-width;
      line-height: 1.8;
    }
  }
}
