.social-group {
  color: $text;
  font-size: 2rem;
  position: absolute;
  //   justify-self: start;
  //   align-self: center;
  //   left: 0;
  //   top: 0;

  //   transform: translate(-50%, -50%);
  //   -webkit-transform: translate(-50%, -50%);
  //   -moz-transform: translate(-50%, -50%);
  //   -ms-transform: translate(-50%, -50%);
  //   -o-transform: translate(-50%, -50%);
}
