.social-group {
  color: $text;
  font-size: 2rem;
  position: absolute;

  &-item {
    &:hover,
    &:focus {
      color: $primary-accent;
      font-size: 2.5rem;
    }
  }
}

// Mobile and some tablet screens,
// excludes small Mac Airs
@media only screen and (max-width: 900px) {
  .social-group {
    display: none;
  }
}
