// Social media sidebar on homepage
.social-group {
  color: $text;
  position: absolute;

  &-item {
    padding-bottom: 0.7rem;
    padding-left: 0.3rem;
    a {
      i {
        font-size: 2rem;
        transition: font-size ease 0.2s;
        -webkit-transition: font-size ease 0.2s;
        -moz-transition: font-size ease 0.2s;
        -ms-transition: font-size ease 0.2s;
        -o-transition: font-size ease 0.2s;

        &:hover,
        &:focus {
          color: $secondary-accent;
          font-size: 2.5rem;
        }
      }
    }
  }

  #spotify {
    font-size: 1.9rem;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
  }

  #email {
    padding-left: 0.1rem;
    // font-size: 2.1rem;
  }
}

// Shareable links at bottom of posts
.share-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;

  &-title {
    color: $secondary-accent;
    font-size: $standard-text;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .share-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .share-button {
    font-size: calc(#{$standard-text + 0.5rem});
    // font-size: $standard-text;
    outline: 0;

    &:last-child {
      font-size: calc(#{$standard-text + 0.9rem});
    }
  }

  #twitter-share:hover,
  #twitter-share:focus {
    color: #1da1f2;
  }
  #whatsapp-share:hover,
  #whatsapp-share:focus {
    color: #25d366;
  }
  #reddit-share:hover,
  #reddit-share:focus {
    color: #ff4500;
  }
  #fb-share:hover,
  #fb-share:focus {
    color: #2d88ff;
  }
  #email-share:hover,
  #email-share:focus {
    color: $secondary-accent;
  }
}

// Mobile and some tablet screens,
// excludes small Mac Airs
@media only screen and (max-width: 900px) {
  .social-group {
    display: none;
  }
}
