.spotify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: $section-width;

  &-embed {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 350px;
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .spotify {
    width: 95%;

    &-embed {
      // height: 350px;
      // width: 100%;
      margin-bottom: 2rem;
    }
  }
}
