.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0 15rem;
}

.container {
  width: 100%;
  background-color: $primary-bg;
  overflow-x: hidden;
}

.page-title {
  font-size: $giant-text;
  font-weight: $giant-text-weight;
  border-bottom: 3px solid $secondary-accent;
  align-self: flex-start;
  margin: 1rem auto 3rem 0;
  color: $secondary-accent;
  text-transform: uppercase;
}

.page-description {
  font-size: $standard-text;
  font-weight: $standard-text-weight;
  align-self: center;
  margin-bottom: 3rem;
  color: $text;
}

.page-intro {
  flex-grow: 2;
  max-width: 95%;
}

.section-title {
  font-size: $large-text;
  font-weight: $large-text-weight;
  color: $primary-accent;
  text-transform: uppercase;
  border-bottom: 2px solid $primary-accent;
  align-self: flex-start;
  margin: 0 0 3rem 0;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.cta-link {
  font-size: $standard-text;
  font-weight: $standard-text-weight;
  color: $text;
  align-self: flex-end;
  border-bottom: 2px solid transparent;

  i {
    vertical-align: middle;
    font-size: $medium-text;
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $text;
  }
}

@media only screen and (max-width: 900px) {
  .page-title {
    font-size: calc(#{$large-text + 0.5rem});
  }

  .page-description {
    font-size: calc(#{$medium-text - 0.5rem});
  }
}
