@import '_config';
@import '_navbar';
@import '_header';
@import '_carousel';
@import '_social';
@import '_instagram-grid';
@import '_spotify';
@import '_btn';
@import '_reviews';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $primary-bg;
  color: $text;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.not-found {
  margin-top: 7rem;
}

// Move util classes to separate file
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 15rem;
}

.section-title {
  font-size: $giant-text;
  font-weight: $giant-text-weight;
  border-bottom: 3px solid;
  align-self: flex-start;
  margin-bottom: 3rem;
  color: $secondary-accent;
  text-transform: uppercase;
}

.section-description {
  font-size: $medium-text;
  font-weight: $medium-text-weight;
  align-self: center;
  margin-bottom: 3rem;
  color: $text;
}
