@import '_config';
@import '_utils';
@import '_error';
@import '_navbar';
@import '_header';
@import '_banner';
@import '_social';
@import '_grid';
@import '_instagram_grid';
@import '_spotify';
@import '_btn';
@import '_card';
@import '_reviews';
@import '_articles';
@import '_single_post';
@import '_loading';
@import '_posts_homepage';
@import '_form';
@import '_about';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: $base-size;
}

html,
body {
  padding: 0;
  margin: 0;
  // font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  background-color: $primary-bg;
  color: $text;
  overflow-x: hidden;
  font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

hr {
  width: 100%;
  margin: 2rem 0;
  color: $text;
}

.credits {
  padding-bottom: 2rem;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &-tagline {
    text-transform: uppercase;
    font-size: $small-text;
    font-weight: $small-text-weight;
    margin-bottom: 1.8rem;
    padding: 0 1rem;
  }

  a {
    color: $text;
    font-size: $small-text;
    font-weight: $small-text-weight;
    border-bottom: 1px solid transparent;
    &:hover,
    &:focus {
      color: $secondary-accent;
      border-bottom: 1px solid $secondary-accent;
    }
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: calc(#{$base-size - 1px});
  }

  hr {
    width: 90%;
  }
  .content {
    padding: 0 1rem;
  }
}
